<h1>Welcome to Rock, Paper, Scissors!</h2>
  <form class="form group" action="players">
          <div class="form_group">
              <label for="player1">PLayer1 choose a thing!</label>
              <input id="player1" name="player1" class="form-control" type="text">
          </div>
          <div class="form_group">
            <label for="player2">Player2 choose a thing!</label>
            <input id="player2" name="player2" class="form-control" type="text">
          </div>
          <button type="submit" class="btn-success">play</button>
  </form>
